.contact-filter {
  display: flex;
  flex-direction: row;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 18px;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  &-form {
    display: flex;
    flex-direction: row;
    gap: 9px;
    &-title {
      @include h3;
    }
    &-input {
    }
  }
  &-add-btn {
  }
}
