.stats-index {
  display: grid;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  &-title {
    @include h2;
    padding-top: 18px;
    padding-bottom: 36px;
  }
  &-charts-list {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;

    // height: fit-content;
    &-chart {
      // display: flex;
      // flex-direction: column;
      background-color: $secondary-color-4;
      border-radius: 18px;
      padding: 8px;
      &-title {
        color: $secondary-color-3;
      }
      &-container {
      }
    }
  }
}
